@media screen and (max-width: 767px) {
    .main-header-wrapper {
        top: 64px;
    }

    .navbar-collapse {
        background: #000 !important;
        padding: 15px 15px 25px !important;
    }

    .search-content-wrap .from-input-wrap {
        width: 100%;
    }
        .search-content-wrap .from-input-wrap-event {
            width: 100%;
        }

    .single-p-b-img,
    .single-people-box img {
        height: 320px;
        object-fit: cover;
            object-position: center;
            object-position: top !important;
    }

    .service-column-wrapper {
        padding: 60px 0;
    }

    .subscribe-content-wrap.flex-wrap {
        padding: 0 20px;
        height: 200px;
    }
.single-advisor {
    width: 100%;
    height: 230px;
    border-radius: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}

.advisor-details {
    width: 100%;
}
.single-magazin {
    width: 100%;
}

.magazin-details {
    width: 100%;
}

.advistor-media {
    width: 50%;
}
.footer-item {
    width: 100%;
}
.footer-mid-right {
    display: none !important;
}
.single-f-box img {
    height: 50px;
    width: 50px;
    margin-left: 7px;
}
}
@media screen and (max-width: 767px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 767px) {}